body {
    padding: 0;
    margin: 0;
    background: #E5E5E5;
    font-family: "Roboto";
}

/*--- navigation bar ---*/

.navbar {
    background: #E5E5E5;
    padding-right: 8%;
    padding-left: 5%;
    padding-top: 3%;
}

.nav-link,
.navbar-brand {
    color: #FFBE0B;
    cursor: pointer;
    font-weight: bolder;
}

.nav-link {
    margin-right: 1em !important;
}

    .nav-link:hover {
        color: #FCDF8F;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.instagram img {
    width: 36px;
    height: 36px;
}

/*--- Landing Page ---*/

.description {
    font-weight: bold;
    padding-left: 8%;
    padding-top: 8%;
    padding-right: 5%;
}

.description h1 {
    font-size: 88px;
    font-weight: bolder;
}

    .description p {
        color: #838383;
        font-size: 28px;
        font-weight: bolder;
    }