/* colour palette:
   - white/black
   - pink #FF70A6
   - red-orange #FF9770
   - light orange #FFD670  
   - yellow #E9FF70
   - blue #70D6FF
*/
p.name { 
  font-size: 64px;
  font-weight: 900;
  font-family: verdana;
  text-transform: uppercase;
  margin: 10px 1px 1px 1px; /* to make closer to info*/
  text-align: center;
}
p.info {
  /* padding: top right bottom left
     https://www.w3schools.com/Css/css_padding.asp */
  padding: 1px 1px 5px 1px;
  font-family: verdana;
  /* border-bottom: 5px solid black; */
  margin: 1px 1px 10px 1px;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
  background-color: black;
  overflow: hidden;
  margin: auto;
  padding: 0;
  height: 40px;
  width: 1000px;
}
li {
  float: left;
  height: 40px;
  width: 200px;
  
}
li a {
  display: block;
  color: white;
  padding: 8px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
li a.home:hover {
  background-color: #FF70A6;
}
li a.game:hover {
  background-color: #FF9770;
}
li a.website:hover {
  background-color: #FFD670;
}
li a.app:hover {
  background-color: #E9FF70;
}
li a.processing:hover {
  background-color: #70D6FF;
}