@import url('https://fonts.googleapis.com/css?family=Fugaz One|Darker Grotesque');

body {
	font-family: 'Fugaz One';
	background-color: #F8D7D0;
	margin: 0;
	min-width: 1200px;
	width: auto;
}

/* CHXRRYPIE header on the left corner of page */
.topnav #header {
	display: block;
	position: fixed;
	float: left;
	padding-left: 50px;
	color: #FFFBF4;
}

a {
    text-decoration: none;
}

/* NAVIGATION BAR on the right corner of page */
.topnav {
    float: right;
	position: fixed;
	overflow: hidden;
	top: 0;
    width: 100%;
    padding-bottom: 25px;
	background-color: #F8D7D0;
	z-index: 100;
}

.topnav a {
    float: right;
	text-transform: uppercase;
    color: #FFFBF4;
    padding-top: 27px;
    text-align: center;
    font-size: 17px;
    width: 120px;
	z-index: 100;
}

.topnav a:hover {
    color: #FFE8C6;
}

.topnav a.active {
    color: #FFE8C6;
}

/* SHOP PAGE --------------------------------------------------------------------- */
.shop h2 {
	color: #EFA7A0;
	font-size: 36px;
	text-align: center;
	width: 100%;
	position: relative;
	margin-top: 100px;
}

.shopnames {
	display: block;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.shopnames a {
	text-transform: uppercase;
	color: #EFA7A0;
	font-size: 24px;
	text-align: center;
	float: left;
	width: 390px;
	margin: auto;
}

#shopimages {
	display: block;
	/* height: 387px; */
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
}

/* .buttons { */
	/* width: 1200px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* float: left; */
/* } */
	
/* .buttons button { */
	/* width: 150px; */
	/* display: inline-block; */
	/* background-color: #EFA7A0; */
	/* border: none; */
	/* border-radius: 12px; */
	/* font-family: 'Fugaz One'; */
	/* font-size: 18px; */
	/* padding: 5px; */
	/* text-align: center; */
	/* text-decoration: none;  */
	/* cursor: pointer; */
	/* margin-bottom: 150px; */
	/* overflow: hidden; */
	/* position: relative; */
/* } */

/* #taiwanshop { */
	/* margin-left: auto; */
	/* margin-right: 130px; */
/* } */

/* #linestore { */
	/* margin-left: 130px; */
	/* margin-right: 130px; */
/* } */

/* #redbubbleshop { */
	/* margin-left: 130px; */
/* } */

/* .buttons button a { */
	/* color: #FFFBF4;	 */
/* } */

/* .buttons button:hover { */
	/* background-color: #F5B8B2; */
/* } */



/* FOOTER WITH SOCIAL MEDIA BUTTONS AND MY NAME */
footer {
	background-color: #FFFBF4;
	position: fixed;
	overflow: hidden;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	color: #EFA7A0;
}

footer #socials {
	float: left;
	padding-left: 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Darker Grotesque';
}

footer #author {
	float: right;
	padding-right: 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Darker Grotesque';
}

#ig {
	margin-left: 7px;
	margin-top: 15px;
	width: 30px;
	height: 30px;
}

#pinterest {
	margin-top: 15px;
	width: 30px;
	height: 30px;
}
